[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/*"
  to = "https://backend-api-production-bf71.up.railway.app/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/backend/*"
  to = "https://backend-api-production-bf71.up.railway.app/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
